<style>
	#selectionDisplay {
		font-style: italic;
		color: #e43232;
	}
</style>

<div class="jumbotron">
  <h3>Einstellungen</h3>
  <button type="button" class="btn btn-xs btn-primary" id="reset">Auf Standard zurücksetzen</button>

  <br>
  <br>
  <br>

  <form>
    <div class="form-group">
      <label for="displayAmount">Anzahl anzuzeigender Einträge pro Seite</label>
      <input type="number" class="form-control" id="displayAmount" value="{{settings.displayAmount}}" min="1" max="150" step="1">
    </div>
  </form>

  <br>

  <h4>Anzeigedauer (in Sekunden) bei unterschiedlicher Füllung</h4>

  <br>

  <form style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div>
      <div class="form-group">
        <label for="0-25">0% - 25%</label>
        <input style="width: auto;" type="number" class="form-control" id="0-25" value="{{settings.displayTime.0-25}}" min="1" max="60" step="0.1">
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="25-50">25% - 50%</label>
        <input style="width: auto;" type="number" class="form-control" id="25-50" value="{{settings.displayTime.25-50}}" min="1" max="60" step="0.1">
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="50-75">50% - 75%</label>
        <input style="width: auto;" type="number" class="form-control" id="50-75" value="{{settings.displayTime.50-75}}" min="1" max="60" step="0.1">
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="75-100">75% - 100%</label>
        <input style="width: auto;" type="number" class="form-control" id="75-100" value="{{settings.displayTime.75-100}}" min="1" max="60" step="0.1">
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-default" id="apply" style="margin-top: 3vh;"><i class="fa fa-lg fa-fw fa-floppy-o"></i> Übernehmen</button>

</div>

{{> actionModals}}

<script type="text/javascript">

  // Settings application handler
  $('#apply').click(function (event) {
    if ($('#displayAmount').val() == "" || $('#0-25').val() == "" || $('#25-50').val() == "" || $('#50-75').val() == "" || $('#75-100').val() == "") {
      console.log("NOPE");
      return;
    }
    $.ajax({
      method: "PUT",
      url: "/settings",
      data: {
        displayAmount: $('#displayAmount').val(),
        displayTime: {
          "0-25": $('#0-25').val(),
          "25-50": $('#25-50').val(),
          "50-75": $('#50-75').val(),
          "75-100": $('#75-100').val()
        }
      }
    }).done(function (res) {
      console.log(res);
      showModal(res, function () {
        console.log("Modal dismissed");
        location.reload(true);
      });
    });
  });

  // Settings reset handler
  $('#reset').click(function (event) {
    $('#displayAmount').val(20);
    $('#0-25').val(3);
    $('#25-50').val(6);
    $('#50-75').val(8);
    $('#75-100').val(12);
  });
</script>