<table class="table table-striped table-responsive">
	<th>Klasse</th>
	<th>Stunde</th>
	<th>Fach</th>
	<th>Lehrer</th>
	<th>Raum</th>
	<th>Beschreibung</th>

	{{#each data}}
	<tr>
		<td>{{getDataSafe this.klasse}}</td>
		<td>{{getDataSafe this.stunde}}</td>
		<td>{{getDataSafe this.fach}}</td>
		<td>{{getDataSafe this.lehrer}}</td>
		<td>{{getDataSafe this.raum}}</td>
		<td>{{getDataSafe this.info}}</td>
	</tr>
	{{/each}}
</table>

<script type="text/javascript">
  var urlSplit = location.href.split('/');
  var forDay = urlSplit[urlSplit.length-2];
  
  $.get( "/"+forDay+"/loops", function( loops ) {
    var i = parseInt(urlSplit[urlSplit.length-1])+1;
    if(i>(loops-1)){
      i = 0;
    }

    console.log(loops);
    console.log(forDay);

    // var a = -16.374269;
    // var b = 791.22807;
    // var c = 2725.14619;

    var a = {{getTimeParameter "a"}};
    var b = {{getTimeParameter "b"}};
    var c = {{getTimeParameter "c"}};
    var displayTime = a*($("tr").length-1)*($("tr").length-1)+b*($("tr").length-1)+c;

    console.log(displayTime);
    setTimeout(function(){
      window.location = "/"+forDay+"/"+i+'?a='+a+'&b='+b+'&c='+c;
    }, displayTime);

  });
</script>