<style>
  #selection_span {
    font-style: italic;
    color: #e43232;
  }

  @media screen and (max-width: 767px) {
    #top {
      margin-bottom: 100px;
    }
  }

  #schueler_delete,
  #lehrer_delete,
  #schueler_edit,
  #lehrer_edit {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    #schueler_disable,
    #lehrer_disable {
      margin-top: 5px;
    }
  }
</style>

<div class="jumbotron">
  <h3>Vertretungsplan auswählen</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h4>
        <u>Schüler</u>
      </h4>
      <form class="form-inline" id="top">
        <select multiple id="schueler_selection" class="form-control"> 
          {{#each schueler}}
            <option value="{{this._id}}">{{this.filename}} <i>[{{this.forDay}}]</i></option>
          {{/each}}
        </select>
        <div>
          <button type="button" id="schueler_delete" class="btn btn-sm btn-danger"><i class="fa fa-lg fa-trash"></i> Auswahl löschen</button>
          <button type="button" id="schueler_edit" class="btn btn-sm btn-warning"><i class="fa fa-lg fa-pencil"></i> Auswahl bearbeiten</button>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-lg btn-default" id="schueler_heute"><i class="fa fa-lg fa-clock-o"></i> Heute</button>
        <button type="button" class="btn btn-lg btn-default" id="schueler_morgen"><i class="fa fa-lg fa-calendar"></i> Morgen</button>
        <button type="button" class="btn btn-lg btn-default" id="schueler_disable"><i class="fa fa-lg fa-ban"></i> Deaktivieren</button>
      </form>
    </div>

    <div class="col-sm-6">
      <h4>
        <u>Lehrer</u>
      </h4>
      <form class="form-inline">
        <select multiple id="lehrer_selection" class="form-control"> 
          {{#each lehrer}}
            <option value="{{this._id}}">{{this.filename}} <i>[{{this.forDay}}]</i></option>
          {{/each}}
        </select>
        <div>
          <button type="button" id="lehrer_delete" class="btn btn-sm btn-danger"><i class="fa fa-lg fa-trash"></i> Auswahl löschen</button>
          <button type="button" id="lehrer_edit" class="btn btn-sm btn-warning"><i class="fa fa-lg fa-pencil"></i> Auswahl bearbeiten</button>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-lg btn-default" id="lehrer_heute"><i class="fa fa-lg fa-clock-o"></i> Heute</button>
        <button type="button" class="btn btn-lg btn-default" id="lehrer_morgen"><i class="fa fa-lg fa-calendar"></i> Morgen</button>
        <button type="button" class="btn btn-lg btn-default" id="lehrer_disable"><i class="fa fa-lg fa-ban"></i> Deaktivieren</button>
      </form>
    </div>
  </div>

  <!-- Confirm deletetion modal -->
  <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bestätigung</h4>
        </div>
        <div class="modal-body">
          <p>Soll die Auswahl <span id="selection_span"></span> gelöscht werden?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Nein</button>
          <button type="button" class="btn btn-success" id="confirm">Ja</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

{{> actionModals}}

<script type="text/javascript">
  // Make option buttons smaller on little screens
  if (window.innerWidth <= 488) {
    $('.btn-lg').removeClass('btn-lg').addClass('btn-xs');
  }

  // Setup confirmDelete modal
  $('#confirmDelete').modal({
    keyboard: false,
    show: false,
    backdrop: "static"
  });

  // Vplan deletion handler
  $('#schueler_delete').click(function (event) {
    deleteVplan("schueler");
  });

  $('#lehrer_delete').click(function (event) {
    deleteVplan("lehrer");
  });

  // Vplan editation handler
  $('#schueler_edit').click(function (event) {
    editVplan("schueler");
  });

  $('#lehrer_edit').click(function (event) {
    editVplan("lehrer");
  });

  function editVplan(type) {
    if (!$('#' + type + '_selection option:selected').html()) {
      return;
    }

    location.href = location.pathname + '?p=edit&t=' + type + '&id=' + $('#' + type + '_selection option:selected').val()
  }

  function deleteVplan(type) {
    if (!$('#' + type + '_selection option:selected').html()) {
      return;
    }
    $('#selection_span').html($('#' + type + '_selection option:selected').html());
    $('#confirmDelete').modal('show');
    $('#confirm').click(function (event) {
      $('#confirmDelete').modal('hide');
      $.ajax({
        method: "DELETE",
        url: "/api/" + type,
        data: {
          id: $('#' + type + '_selection option:selected').val()
        }
      }).done(function (res) {
        showModal(res, function () {
          location.reload(true);
        });
      });
    });
  }

  // Option buttons handler
  $('#schueler_heute').click(function (event) {
    selectVplan("schueler", "heute");
  });

  $('#schueler_morgen').click(function (event) {
    selectVplan("schueler", "morgen");
  });

  $('#schueler_disable').click(function (event) {
    selectVplan("schueler", "");
  });


  $('#lehrer_heute').click(function (event) {
    selectVplan("lehrer", "heute");
  });

  $('#lehrer_morgen').click(function (event) {
    selectVplan("lehrer", "morgen");
  });

  $('#lehrer_disable').click(function (event) {
    selectVplan("lehrer", "");
  });

  // Vplan selection handler
  function selectVplan(type, forDay) {
    if (!$('#' + type + '_selection option:selected').val()) {
      return;
    }
    $.ajax({
      method: "PUT",
      url: "/api/" + type,
      data: {
        id: $('#' + type + '_selection option:selected').val(),
        forDay: forDay
      }
    }).done(function (res) {
      showModal(res, function () {
        location.reload(true);
      });
    });
  }

</script>